/.idea
/.claude
/.gradle
/.kotlin
/build
/products
/sile
/speedpublisher
/tmp
/*.gz
/*.tsv
/*.iml
/*.tex
/*.pdf
/*.log
/*.aux
/data/
/raw-data/
/out/
# Scratch output written by TextWriterFidelityTest on baseline mismatch
/src/test/resources/text-actuals/
*~
.~*#
*-bak
tbb
